@font-face {
	font-family: "Verse Sans";
	src: 	url(fonts/VerseSans-Regular.eot) format('eot');
	src: 	url(fonts/VerseSans-Regular.woff) format('woff');
	src: 	url(fonts/VerseSans-Regular.ttf) format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: "Verse Sans";
	src: 	url(fonts/VerseSans-Light.eot) format('eot');
	src: 	url(fonts/VerseSans-Light.woff) format('woff');
	src: 	url(fonts/VerseSans-Light.ttf) format('truetype');
	font-weight: 300;
}

@font-face {
	font-family: "Verse Sans";
	src: 	url(fonts/VerseSans-Medium.eot);
	src: 	url(fonts/VerseSans-Medium.woff) format('woff');
	src: 	url(fonts/VerseSans-Medium.ttf) format('truetype');
	font-weight: 500;
}

@font-face {
	font-family: "Verse Sans";
	src: 	url(fonts/VerseSans-Semibold.eot);
	src: 	url(fonts/VerseSans-Semibold.woff) format('woff');
	src: 	url(fonts/VerseSans-Semibold.ttf) format('truetype');
	font-weight: 600;
}

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #0083b4;
	font-weight: bold;
}

body {
	font-family: "Verse Sans", Helvetica, Arial, sans-serif;
}

fieldset {
	border: none;
	padding: 10px 0 10px 0;
}

input:focus {
	outline-width: 0;
}

input.textfield {
	width: 276px;
	font-size: 24px;
	border-style: solid;
	border-radius: 10px;
	border-width: 3px 1px 1px 1px;
	border-color: #D7D6D1;
	padding: 5px 10px 5px 10px;
}

input.password {
	padding-left: 35px;
	width: 231px;
	background: #fff url(/images/lock_icon.png) no-repeat 10px;
}

.www-page {
	border-top: 10px solid #29abe2;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #3333332;
}

.www-page address {
	margin: 20px 0 0 0;
}

.www-page .container {
	width: 780px;
	margin: 0 auto;
}

.www-page .legal {
	padding-bottom: 15px;
}

.www-page .legal h1,
.www-page .legal h2,
.www-page .legal h3 {
	margin-top: 20px;
}

.www-page .legal ul {
	padding: 20px 0 0 20px;	
}

.www-page h1, .www-page h2, .www-page h3 {
	font-family: "Verse Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
}

.www-page h1 {
	font-size: 32px;
	margin: 0 0 10px 0;
}

.www-page h2 {
	font-size: 24px;
	margin: 30px 0 30px 0;
}

.www-page p {
	margin: 20px 0 0 0;
	line-height: 24px;
}

.www-page nav {
	width: 160px;
	padding: 20px 0 0 0;
	float: left;
}

.www-page nav .logo {
	display: block;
	margin: 20px 0 20px 0;
}

.www-page nav ul {
	list-style: none;
}

.www-page nav ul li {
	margin: 0;
}

.www-page nav ul li a {
	padding: 0 0 14px 20px;
	font-weight: normal;
	display: block;
	color: #999996;
	width: 70px;
}

.www-page nav ul li a:hover {
	color: #333332;
}

.www-page nav.blog ul li a.blog, .www-page nav.help ul li a.help, .www-page nav.jobs ul li a.jobs {
	color: #333332;
	font-weight: bold;
}

.www-page #content {
	padding: 40px 0 40px 0;
	width: 620px;
	float: left
}

footer {
	clear: left;
	display: block;
	text-align: center;
	padding: 20px 0 20px 0;
	border-top: 1px solid #eeeeed;
	height: 18px;
	
}

.teaser-page footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #6b83a2;
	outline: 5px solid rgba(0, 0, 0, 0.1);
}

.www-page footer p, .teaser-page footer p {
	float: left;
	margin: 0;
	position: relative;
	top: -3px;
	color: #fff;
}

.teaser-page footer p {
	top: 0;
	padding-left: 20px;
}

footer ul {
	float: right;
	list-style: none;
}

.teaser-page footer ul {
	padding-right: 20px;
}

footer ul li {
	float: left;
	padding: 0 0 0 20px;
}

footer ul li a {
	font-weight: normal;
	color: #fff;
}

footer ul li a:hover {
	color: #333332;
}

.teaser-page {
	margin: 0;
	background: black;
	text-align: center;
}

.teaser-page .outer {
	background: url(/images/static_bg.jpg) 50% 100% no-repeat;
	display: table; 
	position: absolute; 
	height: 100%; 
	width: 100%;
}

.teaser-page .middle {
	display: table-cell; 
	vertical-align: middle;
}

.teaser-page .inner p {
	padding: 40px 20px 0 20px;
}

/* Mobile devices */
@media screen and (max-width: 480px) {

	.www-page .container {
		width: auto;
		margin: 0 auto;
		padding: 0 15px 0 15px;
	}

	.www-page h1 {
		font-size: 32px;
		margin: 0 0 10px 0;
	}

	.www-page h2 {
		font-size: 24px;
		margin: 30px 0 30px 0;
	}

	.www-page p {
		margin: 20px 0 0 0;
	}

	.www-page nav {
		width: auto;
		padding: 20px 0 0 0;
		float: none;
	}

	.www-page nav .logo {
		display: block;
		margin: 0;
		float: left;
	}

	.www-page nav .logo img {
		width: 80px;
		height: 80px;
	}

	.www-page nav ul {
		display: block;
		padding: 30px 0 0 0;
		float: right;
	}

	.www-page nav ul li {
		float: left;
		padding: 0 0 0 15px;
		margin: 0;
	}

	.www-page nav ul li a {
		padding: 0;
		display: block;
		width: auto;
	}

	.www-page #content {
		padding: 60px 0 40px 0;
		clear: right;
		width: auto;
		float: none;
	}

	.www-page footer p {
		float: none;
		margin: 0 0 3px 0;
	}

	.teaser-page footer p {
		display: none;
	}

	.www-page footer {
		height: 44px;
	}

	footer ul {
		float: none;
		list-style: none;
		display: inline-block;
	}

	footer ul li {
		float: left;
		padding: 0 8px 0 8px;
	}

	.teaser-page .outer {
		background: url(/images/static_bg.jpg) 50% 100% no-repeat;
		background-position:center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}

	.teaser-page footer p {
		top: 0;
		padding-left: 0;
	}


	.teaser-page footer ul {
		padding-right: 0;
	}

	.teaser-page .inner {
		width: 320px;
		text-align: center;
		font-size: 36px;
		color: #fff;
		font-weight: 300;
		-webkit-font-smoothing: antialiased;
	}

	.teaser-page img {
		width: 240px;
		height: 88px;
	}

	.teaser-page .inner p {
		padding: 0;
		margin: 15px 15px 0 15px;
		font-size: 25px;
	}

}